:host {
  float: left;
  display: block;
  position: relative;
  width: 50%;

  @media only screen and (max-width: 1000px) {
    width: 100%;
    float: none;
    clear: both;
  }
}

.container {
  background: rgb(248, 248, 248);

  border-radius: 5px;
  margin: 30px auto;
  width: 90%;
  position: relative;
  padding: 20px;
}

.countries {
  .table-header {
    vertical-align: top;
    text-align: left;
  }
}
