:host {
  float: left;
  display: block;
  position: relative;
  width: 35%;
}

.container {
  background: rgb(248, 248, 248);

  border-radius: 5px;
  margin: 30px auto;
  width: 90%;
  position: relative;
  padding: 100px;
}
