/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  max-width: 100%;
}

html {
  width: 100%;
  font-family: "Lato", sans-serif;
}

body {
  background: rgb(39, 39, 39);
  width: 100%;
}
